{% extends "base.html" %}
{% load static %}

{% block content %}
  <section>
    <h2>{{ article.title }}</h2>
    <p>{{ article.date }}</p>
    <p>{{ article.text|safe }}</p>
    {% if article.image %}
      <div>
        <img src="{{ article.image.url }}" alt="Lamprey">
      </div>
    {% endif %}
  </section> 
  <section id="contact">

    <h2>Comments:</h2>
    <form method="post">
      {% csrf_token %}
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="comment">Comment:</label>
      <textarea id="comment" name="comment" required></textarea> 

      <button type="submit">Submit</button>
    </form>
  </section> 
   
{% for comment in comments %}
    <section>
      <h3>{{ comment.name }}</h3>
      <p>{{ comment.date }}</p>
      <p>{{ comment.comment }}</p>
    </section>
  {% empty %}
  <p>No comments yet.</p>
  {% endfor %}
  
{% endblock content %}