{% extends "base.html" %}
{% load static %}

{% block content %}

  <section id="blog">
    <form class="d-flex" action="{% url 'catalog:search' %}" method="get">
      <input name="query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <h2>Blog Posts</h2>   
    {% for item in catalog %}
      <article>
        <h3>{{ item.title }}</h3>
        <p>{{ item.date }}</p>
        <p>{{ item.summary }}</p>
        <p><a href="{% url 'catalog:article' item.id %}">Read more..</a></p>
      </article>
    {% endfor %}
  </section>

  {% include "includes/paginator.html" %}

{% endblock content %}